.signup {
    margin: auto;
    width: 550px;
    height: fit-content;
    border: 1px solid #ffffff;
    padding: 1.2rem 2rem;
    border-radius: 20px;
    background: linear-gradient(to bottom right, #ffffff26, #ffffff00);
    display: flex;
    flex-direction: column;
    justify-content: center;

    > h1 {
        text-transform: uppercase;
        text-align: center;
        padding: 1rem 3rem;
        font-size: 30px;
    }

    .slides {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .circle {
            background: white;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            color: black;
            padding: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .line {
            width: 250px;
            transform: scaleX(1.2);
            z-index: -1;
        }
        .active {
            background: skyblue;
            color: white;
        }
    }

    > form {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;

        > input {
            margin-bottom: 1rem;
            padding: 0.3rem;
            border-radius: 5px;
            width: 100%;
            padding: 0.7rem;
            border: 1px solid #ffffff55;
            background: linear-gradient(to right, #ffffff75, #ffffff66);
            color: white;

            &::placeholder {
                color: rgb(233, 225, 225);
            }
        }

        > label {
            margin-bottom: 0.4rem;
        }
        .password{
            display: flex;
            justify-content: space-between;
             margin-bottom: 1rem;
            padding: 0.3rem;
            border-radius: 5px;
            width: 100%;
            padding: 0.7rem;
            border: 1px solid #ffffff55;
            background: linear-gradient(to right, #ffffff75, #ffffff66);
            color: white;
            >input{
                outline: none;
                border: none;
                background: transparent;
                color: white;
                &::placeholder {
                color: rgb(233, 225, 225);
            }
        }
        >button{
            background: transparent;
            border: none;
            color: white;
            cursor: pointer;
        }
        }

        .box {
            width: 100%;
            display: flex;
            justify-content: space-between;
            .btn {
                padding: 0.5rem;
                font-size: 17px;
                font-weight: bolder;
                color: black;
                background: linear-gradient(to right, #7fe786, #58a7fe);
                width: 120px;
                border-radius: 10px;
                margin-top: 0.4rem;
                cursor: pointer;
            }
            .back {
                background: transparent;
                border: none;
                color: white;
                text-decoration: underline;
                font-size: 20px;
                cursor: pointer;
            }
        }
    }

    .other {
        display: flex;
        text-transform: uppercase;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 0.2rem;
        margin-top: 0.7rem;
        border-radius: 10px;
        border: 1px solid #ffffff55;
        text-decoration: none;
        color: skyblue;
        cursor: pointer;

        > svg {
            font-size: 2rem;
            border-radius: 50%;
        }
    }
    .error {
        color: red;
    }
}

.other2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1.2rem;
    text-transform: uppercase;

    :nth-child(1) {
        margin-left: 0.5rem;
        text-decoration: none;
        color: skyblue;
    }
}

@media (max-width: 600px) {
    .signup {
        width: 95vw;
        font-size: 10px;
        .slides {
            .line {
                width: 200px;
            }
        }
        > form {
            > input {
                &::placeholder {
                    font-size: 10px;
                }
            }
        }
    }
}
