// .contacts {
//     width: 300px;
//     height: 100%;
//     font-size: 1.2vw;
//     overflow: hidden scroll;
//     .contact {
//         cursor: pointer;
//         padding: 20px;
//         border-radius: 20px;
//         background-color: #000000;
//         margin: 10px;
//         display: flex;
//         gap: 10px;
//         > img {
//             width: 3vw;
//             height: 3vw;
//             border-radius: 50%;
//         }
//     }
// }

// .contact:hover {
//     transform: scale(1.01);
// }

// @media (max-width: 600px) {
//     .contact {
//         width: 100%;
//     }
// }

.contacts {
    width: 300px;
    overflow: hidden scroll;
    .contact {
        margin: 10px;
        cursor: pointer;
        padding: 10px;
        border-radius: 10px;
        background-color: #000;
        display: flex;
        gap: 10px;

        > img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }
}

@media (max-width: 900px) {
    .contacts {
        width: 100%;
        height: 100%;
    }
}
