.card {
    color: white;
    text-decoration: none;
    width: 300px;
    height: fit-content;
    border-radius: 10px;
    background: linear-gradient(to right bottom, #ffffff55, #ffffff00);
    overflow: hidden;
    display: flex;
    font-family: 'Roboto';
    text-transform: uppercase;
    flex-direction: column;
    gap: 5px;
    margin: 20px;
    cursor: pointer;
    padding: 10px;
    gap: 10px;

    >img {
        width: 75%;
        align-self: center;
        margin: 10%;
        height: 150px;
        border-radius: 10px;
        border: 1px solid white;
    }

    >h1 {
        text-align: center;
        font-size: 25px;
    }

    .last {
        display: flex;
        justify-content: space-between;

        >:nth-child(1) {
            background-color: #5AAAF9;
            padding: 5px;
            border-radius: 5px;
        }
    }
}

@media (max-width: 900px) {
    .card {
        width: 250px;
        margin: 10px;
        font-size: 13px;

        >h1 {
            font-size: 20px;
        }
    }
}